body {

    background-color: black

}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    color: #D9A9FF;
    border-style: solid;
    border-width: 2px;
    padding: 7px;
    margin: auto;
}


h1 {
    color: #D9A9FF;
    font-size: 26px;
    font-family: "Bookman Old Style";

}

h2 {
    color: #a83bff;
}


.text {
    width: 50%;
    color: azure;
    font-family: seri;
    flex-grow: 2;
}

a:link {
    color: lightslategrey;
    font-size: 16px;
}

a:visited {
    color: #ffc0cb;
}

