.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h1{
    color: #D9A9FF;
    font-size: 40px;
    font-family: "Bookman Old Style";
}
 h2 {
     color: #a83bff;
 }


.text {
    width: 50%;
    color: azure;
    font-family: serif
}

a:link {
    color: lightslategrey;
    font-size: 16px;
}
a:visited {
    color: #ffc0cb;
}

